[Desktop Entry]
Name=Browser
Comment=Decentralized WWW
Exec=/usr/bin/browser
Terminal=false
Type=Application
StartupNotify=true
Icon=browser
Categories=Settings;Utility;
Keywords=Browser;Internet;WWW
