[Desktop Entry]
Name=DWeb Browser
Comment=Decentralized Web-Browser
Exec=/usr/bin/browser
Terminal=false
Type=Application
StartupNotify=true
Icon=dweb-browser
Categories=Network;WebBrowser
Keywords=Browser;Internet;WWW;Decentralized;Web
